body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  line-height: 1.8;
  margin-bottom: 10px;
}
/* body{
    background-image: url('../../images/1.jpg');
} */
footer{
    margin-bottom: 10px;
}
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
.bttn{
  margin-left: 43%;
  margin-right: 40%;
}
button{
  background-color: rgb(141, 196, 248);
  padding: auto;
}
.logout{
  margin-right: 10px;
}