<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="First Name" [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}">
				</div>

				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="Last Name" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}">
				</div>

				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="email" class="login__input" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" email>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password"  [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
				</div>
				<button class="button login__submit"  (click)="save()">
					<span class="button__text">Register Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
				<h3>Register</h3>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>	
		
		
	<div id="msg"></div>

	</div>
</div>


<script>
	fetch('http://localhost:9002/routes/user/create')
	.then(response=>response.json())
	.then(data=>{
		const msgElement =document.getElementById('msg');
		alert(data.message);
	
	})
     .catch(error=>console.error(error)

	);
</script>